<div class="example-container">
    <p>API Headers</p>
    <div cdkDropList [cdkDropListData]="done" class="example-list" [cdkDropListConnectedTo]="[todoList, todoList1]">
        <div class="example-box" *ngFor="let item of done" (cdkDragStarted)="dragStarted(item)" cdkDrag>
            <mat-checkbox disabled class="example-margin" [checked]="item.isChecked">
                {{item.title}}
                <!-- <div class="example-box" style="width: 400px; background-color: rgba(185, 226, 253, 0.658);"
                    *cdkDragPreview>
                    <mat-checkbox style="color: white;" disabled class="example-margin" [checked]="item.isChecked">
                        {{item.title}}
                    </mat-checkbox>
                </div> -->
            </mat-checkbox>
        </div>
    </div>
</div>